.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1479px;
}

.u-section-1 .u-group-1 {
  width: 1000px;
  min-height: 1319px;
  height: auto;
  margin: 30px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  width: 800px;
  min-height: 100px;
  height: auto;
  margin: 30px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  margin: 24px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 800px;
  margin: 494px auto 0 150px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-group-3 {
  min-height: 500px;
  height: auto;
  width: 900px;
  margin: -464px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-1 .u-list-2 {
  grid-template-rows: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: 100%;
  min-height: 460px;
  grid-gap: 30px 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 22px 30px;
}

.u-section-1 .u-image-1 {
  height: 285px;
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  margin: 22px auto 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 28px 0 0 680px;
  padding: 2px 0;
}

.u-section-1 .u-text-3 {
  margin: -21px auto 0 0;
}

.u-section-1 .u-group-4 {
  min-height: 500px;
  height: auto;
  width: 900px;
  margin: 30px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-1 .u-list-3 {
  grid-template-rows: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-3 {
  grid-template-columns: 100%;
  min-height: 460px;
  grid-gap: 30px 30px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 22px 30px;
}

.u-section-1 .u-image-2 {
  height: 285px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  margin: 22px auto 0 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 28px 0 0 auto;
  padding: 2px 0;
}

.u-section-1 .u-text-5 {
  margin: -4px auto 0 0;
}

.u-section-1 .u-group-elements-1 {
  width: 411px;
  min-height: 44px;
  height: auto;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  margin: 0 0 0 auto;
  padding: 8px 28px 8px 27px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  margin: -43px auto 0 0;
  padding: 8px 28px 8px 27px;
}

.u-section-1 .u-text-6 {
  margin: -36px auto 0 197px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-list-1 {
    margin-left: 130px;
  }

  /* .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  } */

  .u-section-1 .u-group-3 {
    margin-left: 10px;
    height: auto;
  }

  .u-section-1 .u-image-1 {
    height: 232px;
  }

  .u-section-1 .u-group-4 {
    margin-left: 10px;
    height: auto;
  }

  .u-section-1 .u-image-2 {
    height: 232px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-left: 335px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-group-3 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 174px;
  }

  .u-section-1 .u-group-4 {
    width: 720px;
    margin-left: auto;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 174px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-group-3 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 137px;
  }

  .u-section-1 .u-group-4 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 137px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    height: 84px;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    height: 84px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 340px;
    margin-right: 0;
  }
}

.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-group-1 {
  width: 1000px;
  min-height: 766px;
  height: auto;
  margin: 100px auto 0;
}

.u-section-2 .u-group-1.selectActivity {
  width: 1000px;
  min-height: 766px;
  height: auto;
  margin: 30px auto 30px;
}

.u-section-2 .u-container-layout-1 {
  padding: 23px 0 0;
}

.u-section-2 .u-container-layout-1.selectActivity {
  padding: 15px 0 60px;
}

.u-section-2 .u-group-2 {
  width: 900px;
  min-height: 701px;
  height: auto;
  margin: 42px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 8px 0;
}

.u-section-2 .u-container-layout-2.selectActivity {
  padding: 30px 8px 50px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 1px 42px 0;
}

.u-section-2 .u-image-1 {
  width: 800px;
  height: 358px;
  margin: 20px auto 0;
}

.u-section-2 .u-group-3 {
  width: 800px;
  min-height: 50px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-2 .u-container-layout-3.selectActivity {
  padding: 0;
}

.u-section-2 .u-text-2 {
  margin: 0 42px;
}

.u-section-2 .u-text-2.selectActivity {
  padding: 0 5px 0;
  width: 800px;
  margin: auto;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-weight: 700;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  margin: 100px auto 0;
  padding: 8px 28px 8px 27px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-group-2 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 704px;
    height: 315px;
  }

  .u-section-2 .u-group-3 {
    width: 704px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-group-2 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    width: 524px;
    height: 234px;
  }

  .u-section-2 .u-group-3 {
    width: 524px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 324px;
    height: 145px;
  }

  .u-section-2 .u-group-3 {
    width: 324px;
  }
}